html,
body {
    height: 100%;
    margin: 0px;

    font-style: 20px;
    color: black;
    font-family: 'Hi Melody';

    background-color: #EEEDE6;
}

.App {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 20px;
}